/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*input .button{
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
    
input .search_product{
    padding:5px 15px; 
    border:2px black solid;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
    
#search_bar{
    padding-top: 50px;
    text-align: center
}

.topmenu ul{
    float:right;
    margin-top: 20px;
}
.topmenu ul li{
    float:left;
    margin-right: 15px;
}
.topmenu li a{
    color:#00cc99;
    text-decoration: none;
}
*/
body {
  line-height: 1;
  width: 1260px;
}
body, html {
  font-family: Microsoft JhengHei, calibri, arial, helvetica, monospace, clean, sans-serif!important;
  font-size: 16px;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**/
.header {
  background: #C0C0C0;
  margin: 0 auto;
  width: 1260px;
}

.bar .topmenu {
  height: 30px;
  margin-top: 20px;
  background-color: #f6f6f6;
  text-align: center;
}
.bar ul {
  float: left;
}
.bar ul li {
  float: left;
  margin: 5px;
}
.bar li a {
  text-decoration: none;
  font-size: 20px; 
}
.bar li img {
  margin-right: 5px;
  float: left;
}
.bar li span {
  float: left;
}
.facebook span {
  color:#667aad;
  padding-right: 8px;
}

.topmenu ul {
  float:right;
}
.topmenu ul li {
  float:left;
  margin-right: 15px;
  margin-top: 5px;
}
.topmenu li a {
  color:#667aad;
  text-decoration: none;
  font-size: 20px;
}

.clearfix {
  clear:both;
}

/*search_bar*/
#search_bar {
  background-color: yellow;
  margin: 0 auto;
  width: 1260px;
  height: 132px;
  padding: 8px 0;
  box-sizing: border-box;
}
form {
  position: relative;
  width: 300px;
  margin: 70px auto 50px auto;
}

.logo {
  float:left;
  margin-top:10px;
  margin-left:20px;
}
.search_product {
  width: 100%;
  height: 42px;
  padding: 2px auto;
  border: 3px solid #7BA7AB;
  border-radius: 5.5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
.search_btn {
  position: absolute; 
  top: 0;
  right: -5px;
  width: 50px;
  height: 50px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5.5px 5.5px 0;
  cursor: pointer;
}

#search_bar button:before {
  /*content: "\f002";
  font-family: FontAwesome;*/
  font-size: 30px;
  color: #F9F0DA;
}

/*price*/

.midmenu {
    width: 1260px;
    height:40px;
    margin-left: 50px; 
    margin-bottom: 10px;
}


.midmenu ul li {
    float: left;   

}

.midmenu li a {  
    display: block; 
    width: 120px; 
    color:#00cc99;
    text-decoration: none;
    text-align: center;
    line-height: 40px; 
    font-size: 23px;
      
}

/*product and price*/
.container_layout_center {
  background-color: #DCDCDC;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 1260px;
  box-sizing: border-box;
}


#product ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;

}

.pure-g {
  letter-spacing: -.31em;
  *letter-spacing: normal;
  *word-spacing: -.43em;
  text-rendering: optimizespeed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.mod_price_comparison .mod_price_comparison_list {
    width: 248px;
    padding: 3px;
}
.mod_grid_layout li {
    position: relative;
    box-sizing: border-box;
}
.pure-u {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.mod_price_comparison .mod_price_comparison_list .mod_price_comparison_container_bottom, .mod_price_comparison .mod_price_comparison_product {
  border-color: #ffe400
}
.theme_mobile_border .mod_price_comparison_list .mod_price_comparison_container_bottom, .theme_mobile_border .mod_price_comparison_product {
  border-color: #0090d4
}
.theme_home_border .mod_price_comparison_list .mod_price_comparison_container_bottom, .theme_home_border .mod_price_comparison_product {
  border-color: #bdc423
}
.theme_camera_border .mod_price_comparison_list .mod_price_comparison_container_bottom, .theme_camera_border .mod_price_comparison_product {
  border-color: #55728d
}
.theme_tablet_border .mod_price_comparison_list .mod_price_comparison_container_bottom, .theme_tablet_border .mod_price_comparison_product {
  border-color: #00bbb5
}
.mod_price_comparison .mod_price_comparison_product {
    background: #fff;
    border-style: solid;
    border-width: 3px;
}
.pure-u {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.mod_price_comparison .mod_price_comparison_list a {
    height: auto;
}
.mod_grid_layout li a {
    z-index: 1;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    word-break: break-word;
}
.link_ghost {
    color: #0e0e0e;
}
a {
    background-color: transparent;
}
a {
  color: #0087da;
  text-decoration: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

div {
    display: block;
}

.mod_price_comparison .mod_price_comparison_list .mod_price_comparison_container_bottom, .mod_price_comparison .mod_price_comparison_product {
    border-color: #ffe400;
}
.mod_price_comparison .mod_price_comparison_list .mod_price_comparison_container_bottom {
  border-top: 1px solid;
  padding: 10px 12px 0;
  padding: 10px 11px 0;
}

.mod_price_comparison .mod_price_comparison_list a {
  height: auto;
}
.mod_price_comparison .mod_price_comparison_product {
  background: #fff;
  border-style: solid;
  border-width: 3px;
}
.mod_price_comparison .mod_price_comparison_list img {
  padding-left: 40px;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-top: 13px;
}
.mod_price_comparison .mod_price_comparison_list .mod_price_comparison_container {
  width: 100%;
}

.mod_price_comparison .mod_price_comparison_list h4 {
  margin: 10px 12px;
  margin: 10px 11px;
}

.mod_grid_layout li h4 {
  font-weight: 400;
  overflow: hidden;
  height: 2.8em;
  line-height: 1.4;
  color: #1f1f1f;
}

.mod_price_comparison .mod_price_comparison_list .mod_price_comparison_items {
  counter-increment: b;
  padding-left: 1.5em;
  margin-bottom: 10px;
}

.mod_price_comparison .mod_price_comparison_list .mod_price_comparison_items:before {
  content: counter(b, decimal);
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  color: #fff;
  background: #464646;
  margin-top: -.6em;
  box-sizing: border-box;
  padding-left: .4em;
  padding-top: .2em;
  font-size: 12px;
}

.mod_price_comparison .mod_price_comparison_list .mod_grid_layout_shop {
  vertical-align: middle;
  line-height: 1.3;
}

.mod_grid_layout li .mod_grid_layout_shop, .mod_grid_layout li .product_info {
  color: #7f7f7f;
}

.pure-u-3-5 {
    width: 60%;
    *width: 59.969%;
}


.mod_price_comparison .mod_price_comparison_list .price {
    text-align: right;
    line-height: 1.3;
}

.pure-u-2-5 {
    width: 40%;

}

.discount, .price {
    vertical-align: middle;
    word-break: break-all;
    font-weight: 700;
    color: #ef4141;
}
.pure-u-1, .pure-u-1-1, .pure-u-1-2, .pure-u-1-3, .pure-u-1-4, .pure-u-1-5, .pure-u-1-6, .pure-u-1-8, .pure-u-1-12, .pure-u-1-24, .pure-u-2-3, .pure-u-2-5, .pure-u-2-24, .pure-u-3-4, .pure-u-3-5, .pure-u-3-8, .pure-u-3-24, .pure-u-4-5, .pure-u-4-24, .pure-u-5-5, .pure-u-5-6, .pure-u-5-8, .pure-u-5-12, .pure-u-5-24, .pure-u-6-24, .pure-u-7-8, .pure-u-7-12, .pure-u-7-24, .pure-u-8-24, .pure-u-9-24, .pure-u-10-24, .pure-u-11-12, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mod_grid_layout li a:hover h4 {
  color: #6f6f6f;
  text-decoration: underline;
}

.mod_promotion_list li a:hover {
  text-decoration: none;
}

.mod_grid_layout li a:hover {
    text-decoration: none;
}

.mod_grid_layout li a {
    z-index: 1;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    word-break: break-word;
}
#search_tab #search_tab_container a:hover {
  text-decoration: underline;
}
a > span:hover {
  text-decoration: underline;
}

/*product_remind*/
#product_remind {
    width: 1260px;
    margin: 0 auto;
    padding: 28px 0 10px;
    text-align: right;
}
.small {
    font-size: 14px;
}

/*footer*/

#footer #footer_container {
    margin: 0 auto;
    width: 1260px;
    min-height: 197px;
    box-sizing: border-box;
    padding: 0 35px;
}
.mod_table {
    display: table;
}
#footer_container #footer_nav {
    padding: 18px 0 0 4px;
    width: 470px;
    height: 120px;
    line-height: 2;
}
#footer_container #footer_app, #footer_container #footer_extension, #footer_container #footer_price, #footer_container #footer_nav {
    vertical-align: top;
}

.pure-g {
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.pure-u-1-3 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  width: 33.3333%;
}
#footer_container #footer_nav ul {
    position: relative;
    padding-left: 22px;
    box-sizing: border-box;
}
#footer_container #footer_price {
    margin-left: 25px;
    padding-top: 32px;
}
.mod_table_cell {
    display: table-cell;
    vertical-align: middle;
}
.small {
    font-size: 16px;
}
#footer_container #footer_nav {
    padding: 18px 0 0 4px;
    width: 470px;
    height: 120px;
    line-height: 2;
}
#footer_container {
    background: yellow;
    min-width: 1260px;
}
