.text1{
	display:none;	
}
.text1.active{
	display:block;
}

.text2{
	display:block;	
}
.text2.active{
	display:none;
}

.text3{
	display:none;	
}
.text3.active{
	display:block;
}

.text4{
	opacity:0;
	transition: all 3s;
}
.text4.active{
	opacity:1;
}

.button1,.button2,.button3,.button4{
	
	margin-bottom: 30px;
}

